.back {background-image: url("/media/news_backdrop.jpg");
margin: 10%;
padding: 5%;
font-size: xx-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: bolder;

    header {font-weight: bolder;
    font-size: xx-large;}
    h1 {font-size: xx-large;}
    h2 {font-size: xx-large;}
}