@mixin buttons{width: 150px;
    height: 60px;
    color: #00025E;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #FFE18F 0%, #8FFFF5 100%);
    box-shadow: 0 20px 30px -6px rgba(236, 238, 97, 0.5);
    font-size: 20px;
    font-weight: bolder;
    border: none !important;
}

@mixin submitButtons{width: max-content;
    height: 50px;
    color: #00025E;
    text-align: center;
    border-radius: 50px;
    background-image: linear-gradient(135deg, #FFE18F 0%, #8FFFF5 100%);
    box-shadow: 0 20px 30px -6px rgba(236, 238, 97, 0.5);
    font-weight: bolder;
    border: none ;
    font-size: 20px !important;
}

@mixin form{background-color: rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    width: 500px;
    display: none; 
    margin: 80px;
    flex-direction: column;
    align-items: center;
}

@keyframes scale-up-top{
    0%{transform:scale(.5);
    transform-origin:center top}
    100%{transform:scale(1);
    transform-origin:center top}
}

@mixin fontStyle{font-weight: bolder;
    color: bisque;
    text-shadow: 1px 1px 2px rgb(255, 0, 0), 
    0 0 1em rgb(63, 63, 255), 0 0 0.2em blue;
    width: 100%;
}

body { background-image: url("/media/news_backdrop.jpg");
background-repeat: no-repeat;
background-size: cover;
margin: 0px;
padding: 1%;
display: flex;

flex-direction: column;


    header { @include fontStyle; 
        
        font-size: 60px !important; 
        text-align: center;

    }

    h1 { @include fontStyle; 
    font-size: xx-large;
    text-align: center !important;

    }

    h2 { @include fontStyle;
        font-size: x-large;
    }

    main { display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        
        .submit { @include submitButtons;
            
            &:hover {
                transform: translateY(3px);
                box-shadow: none;

            }
            &:active {opacity: 0.5;}

        }

        #buttons {
            #register, #search, #delete {@include buttons;
                
                &:hover {
                    transform: translateY(3px);
                    box-shadow: none;

                }
                &:active {opacity: 0.5;}
            }
        }
        
        .scale-up-top{animation:scale-up-top 0.8s;}

        #regform, #searchbar, #deleteBar {@include form;

            option {background-color: #57928d;}

            input {width: 60%;
            border-radius: 15px;}
                
            #searchDisplay {font-size: x-large;
                font-style: oblique;
            display: none;

            }
            #deleteAll {background-color: red;
                color:azure;
                border-radius: 50px;
                height: 50px;
                color: whitesmoke;
                font-size: x-large;
                font-weight: 600;
                
                &:hover {
                    transform: translateY(3px);
                    box-shadow: none;

                }
                &:active {background-color: rgb(255, 238, 0);
                color: black;}
            
            }
        }

        #age {width: 100px;}

    }
        
    footer {width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        color: antiquewhite;
        text-shadow: 1px 1px 2px rgb(255, 0, 0), 
        0 0 1em rgb(63, 63, 255), 
        0 0 0.2em blue;
        position:fixed;
        bottom:0;
    }
}